
* {
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
}


/*foglio di style*/
.menubar {
    background-color: #DCDDDA;
}
.nav-link {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #818776;
}

.navbar-nav li {
    margin-right: 3em;
}

@media (min-width: 1440px){
    .navbar li {
        margin-right : 7em;
    }
}

@media (max-width: 1009px){
    .navbar li {
        margin-right : 1em;
    }
}


.navbar-brand img {
    height: 53px;
    width: 105px;
    margin-left: 50px;
}

.menubar .navbar-toggler {
    padding-right: 20px;
    outline: none!important;
    border: none!important;
}

.navbar .fa {
    color: #ffffff;
    font-size: 26px;
}

.nav-link:hover {
    font-weight: 600;
    color: #24271E;
}

.nav-link:active {
    font-weight: 600;
    color: #24271E;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
}

.navbar .navbar-collapse {
    text-align: center;
}

/*body*/
h1{
    font-family: Lora;
    font-weight: bold;
    font-size: 64px;
    text-align: center;
    padding: 1.5em;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    padding: 1em 6em;
    background-color: #D4FE8B;
}

.grid-inner {
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex: 1 1 100%;
    padding: 0.5em;
}

.item-inner {
    background-size: cover;
    background-image: url('immagini/1 image.png');
    padding-top: calc(100% / (10/9));
    border-radius: 40px;
}

.item:nth-child(2) .item-inner {
    background-image: url('immagini/2 image.png');
}
.item:nth-child(3) .item-inner {
    background-image: url('immagini/3.image.png');
}
.item:nth-child(4) .item-inner {
    background-image: url('immagini/4 image.png');
}
.item:nth-child(5) .item-inner {
    background-image: url('immagini/5 image.png');
}
.item:nth-child(6) .item-inner {
    background-image: url('immagini/6 image.png');
}


@media screen and (min-width: 480px) {
    .item {
        flex: 1 1 50%;
    }
}

@media screen and (min-width: 768px) {
    .item {
        flex: 1 1 33.333%;
    }
}

@media screen and (min-width: 980px) {
    .item {
        flex: 1 1 30%;
    }
}
@media screen and (max-width: 768px) {

    .flex {
        flex-direction: column;
    }
}

.text{
    margin: 6em;
}
.flex{
    display: flex;
    justify-content: center;
}
.flex p{
    padding-right: 3em;
}

/*css footer*/
.footer{
    height: 189px;
    background-color: #818776;
    padding: 100px;
}

hr {
    color: #ebedf6;
    margin-left: 89px;
    margin-right: 89px;
    margin-top:25px;
}

.flex-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    margin-left:89px;
    margin-top: 20px;
}
.icon{
    list-style-type: none;
    margin-top: 20px;
    margin-right: 89px;
    display: flex;
    flex-direction: column;
}

.mail,
.phone {
    text-decoration: none;
    color: #ebedf6;
}
